.body{
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    background-image:url('../../../public/images/home/background-home-desktop.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
    display: flex;
    flex-direction: column;
    @media (max-width:$tablet) {
        background-image:url('../../../public/images/home/background-home-tablet.jpg') ;
    }
    @media (max-width:$mobile) {
        background-image:url('../../../public/images/home/background-home-mobile.jpg') ;
    }
}